{% extends 'base.html.twig' %}

{% block title %}New AgendaComment{% endblock %}

{% block body %}
    <h1>Publier un commentaire sur "{{ agenda.titre }}"</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-lg btn-block">{{ button_label|default('Publier') }}</button>
    {{ form_end(form) }}

    <br><br>

    <a href="{{ path('agenda_show', {'id': agenda.id}) }}">Retour à l'événement</a>
{% endblock %}
